<f-flow fDraggable (fLoaded)="onLoaded()">
  <!-- Background -->
  <f-background>
    <f-circle-pattern />
    <!-- <f-rect-pattern/> -->
  </f-background>

  <f-canvas>
    @if (elkGroups) {
    <!-- Groups -->
    @for (group of elkGroups; track $index) {
    <div
      fGroup
      fDragHandle
      [fGroupId]="group.id"
      [fGroupPosition]="group.position || { x: 0, y: 0 }"
      [fGroupSize]="group.size"
    >
      Group {{ $index + 1 }}

      @for (node of foblexNodes; track node.id) { @if (!node.parentId){
      <div
        fNode
        fDragHandle
        [fNodeId]="node.id"
        [fNodePosition]="node.position || { x: 0, y: 0 }"
        [fNodeSize]="node.size"
      >
        Node {{ $index + 1 }}

        <!-- Left Connected Handle -->
        <div
          fNodeInput
          [fInputId]="'input-' + node.id"
          fInputConnectableSide="left"
        ></div>

        <!-- Right Connected Handle -->
        <div
          fNodeOutput
          [fOutputId]="'output-' + node.id"
          fOutputConnectableSide="right"
        ></div>
      </div>
      } }
    </div>
    } }

    <!-- Nodes -->
    @for (node of foblexNodes; track node.id) { @if (!node.parentId){
    <div
      fNode
      fDragHandle
      [fNodeId]="node.id"
      [fNodePosition]="node.position || { x: 0, y: 0 }"
      [fNodeSize]="node.size"
    >
      Node {{ $index + 1 }}

      <!-- Left Connected Handle -->
      <div
        fNodeInput
        [fInputId]="'input-' + node.id"
        fInputConnectableSide="left"
      ></div>

      <!-- Right Connected Handle -->
      <div
        fNodeOutput
        [fOutputId]="'output-' + node.id"
        fOutputConnectableSide="right"
      ></div>
    </div>
    } }

    <!-- Edges -->
    @for (edge of foblexEdges; track edge.id) {
    <f-connection
      fBehavior="fixed_center"
      fType="segment"
      [fConnectionId]="edge.id"
      [fOutputId]="edge.sourceHandle"
      [fInputId]="edge.targetHandle"
    >
    </f-connection>
    }
  </f-canvas>
</f-flow>
