<f-flow fDraggable (fLoaded)="onLoaded()">
  <!-- Background -->
  <f-background>
    <f-circle-pattern />
    <!-- <f-rect-pattern /> -->
  </f-background>

  <f-canvas
    [fZoom]="true"
    [fZoomStep]="0.4"
    [fZoomMaximum]="1.5"
    [fZoomMinimum]="0.1"
    (fCanvasChange)="onCanvasChange($event)">
    <!-- Groups -->
    @for (group of elkGroups(); track $index) {
      <div
        fGroup
        fDragHandle
        [fGroupId]="group.id"
        [fGroupPosition]="group.position || { x: 0, y: 0 }"
        [fGroupDraggingDisabled]="false"
        [fGroupSize]="group.size">
        Group {{ $index + 1 }}
      </div>
    }

    <!-- Nodes -->
    @for (node of elkNodes(); track node.id) {
      <div
        fNode
        fDragHandle
        [fNodeId]="node.id"
        [fNodePosition]="node.position || { x: 0, y: 0 }"
        [fNodeDraggingDisabled]="false"
        [fNodeSize]="node.size"
        [fNodeParentId]="node.parentId">
        Node {{ $index + 1 }}

        <!-- Left Connected Handle -->
        <div fNodeInput [fInputId]="node.id" fInputConnectableSide="left"></div>

        <!-- Right Connected Handle -->
        <div
          fNodeOutput
          [fOutputId]="node.id"
          fOutputConnectableSide="right"></div>
      </div>
    }

    <!-- Edges -->
    @for (edge of elkEdges(); track edge.id) {
      <f-connection
        fBehavior="fixed_center"
        fType="segment"
        [fConnectionId]="edge.id"
        [fOutputId]="edge.source"
        [fInputId]="edge.target">
      </f-connection>
    }
  </f-canvas>

  <div class="any-container-or-without-container">
    <f-minimap [fMinSize]="2000"></f-minimap>
  </div>
</f-flow>
