@use "./common";

::ng-deep f-flow {
  @include common.connection;
  @include common.minimap;

  .custom-class-for-minimap {
    fill: var(--connection-gradient-1) !important;

    &.f-selected {
      fill: var(--minimap-node-selected-color) !important;
    }
  }
}

.f-node,
.f-group {
  position: relative;
  @include common.node;
  padding: 0;
  text-align: left;
  &.with-padding {
    padding: 10px;
  }
}
.f-node {
  width: 120px;
  background-color: #daa52098;
}
.f-group {
  background-color: var(--minimap-view-color);
}
.f-resize-handle {
  overflow: visible;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--node-background-color);
  border: 1px solid var(--node-border-color);
  &.f-resize-handle-left-top {
    top: -6px;
    left: -6px;
    cursor: nwse-resize;
  }
  &.f-resize-handle-right-top {
    top: -6px;
    right: -6px;
    cursor: nesw-resize;
  }
  &.f-resize-handle-left-bottom {
    bottom: -6px;
    left: -6px;
    cursor: nesw-resize;
  }
  &.f-resize-handle-right-bottom {
    bottom: -6px;
    right: -6px;
    cursor: nwse-resize;
  }
}
